@import url('https://fonts.googleapis.com/css?family=Lato|Luckiest+Guy|Roboto&display=swap');

		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		body {
			background-color: #f6f6f6;
			font-family: 'Roboto', sans-serif;
			display: grid;
			grid-column-gap: 2rem;
			grid-template-rows: 8vh 92vh;
			grid-template-columns: 1fr 4fr 1.5fr; 
			grid-template-areas: 
			"header header header"
			"nav section aside"
		}

/*REFERENTE AOS FORMULÁRIOS DE CADASTRO E LOGIN*/
		#cadastro, #login {
			background: #FFFFFF;
			width: 22vw;
			height: 48vh;
			position: fixed;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 5px;
		}

		#cadastro {
			height: 60vh;
		}
		
		.cabeçalho {
			width: 100%;
			height: 20%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			top: 30px;
		}

		.cabeçalho p {
			color: black;
			font-size: 2.2rem;
			font-family: 'Lato', sans-serif;
		}

		#cadastro .cabeçalho

		#campos {
			width: 100%;
			height: 75%;
		}

		.campo {
			margin: 10px auto 0px auto;
			width: 85%;
			height: auto;
		}

		.campo input {
			margin-top: 5px;
			width: 100%;
			height: 5.5vh;
			border: 2px solid #eaeaea;
			border-radius: 5px;
			background: #f6f6f6;
			padding-left: 7px;
			font-size: 16px;
			font-family: 'Lato', sans-serif;
		}


		input:focus {
			box-shadow: 0px 0px 5.3px rgb(6,197,214);
			outline: none;
		}
		.campo button {
			width: 100%;
			height: 5vh;
			border-radius: 5px;
			border: none;
			background: rgb(0,14,28);
			font-size: 1.2rem;
			color: white;
			position: relative;
		}

		#possuir_conta {
			width: 100%;
			margin-top: 35px;
			display: flex;
			justify-content: center;
		}

		#possuir_conta a {
			text-decoration: none;
			color: black;
			font-size: 18px;
		}

		input::placeholder {
			font-size: 16px;
		}

		small {
			opacity: 0;
			font-size: 12px;
		}

		.campo:first-child {
			margin: 3.5rem auto 0 auto;
			
		}

/*REFERENTE A PÁGINA HOME DO USUÁRIO */
header {
	grid-area: header;
	display: flex;
	align-items: center;
	background: #0b1a21;
}

aside {
	grid-area: aside;
	background: white;
	margin-right: 4rem;
	margin-top: 5rem;
}

section {
	grid-area: section;
	background: white;
	margin-top: 5rem;
}

section div {
	margin-top: 15px;
	background: red;
}

#sala-menu {
	grid-area: nav;
	background:	white;
}
#sala-menu ul {
	width: 100%;
	height: auto;
	margin-top: 5rem;
	background: cyan;
}

#sala-menu ul li {
	background: red;
	padding: 6px 0px;
}

#sala-menu ul li a {
	margin-left: 25px;
	font-size: 1.4rem;
	text-decoration: none;
	color: black;
}

#sala-menu ul li a::before {
	content: '\01F3E0';
	padding-left: 5px;
}

#sala-menu ul li:hover {
	background: green;
}

#sala-menu button {
	border: none;
	width: 100%;
	background: yellow;
	padding: 6px 0px;
	font-size: 1.4rem;
	padding-right: 80px;
}

header #logo {
	/*background: rgb(255,84,78);*/
	width: 10%;
	height: 70%;
	margin-left: 3rem;
}

header #logo p {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-family: 'Luckiest Guy', cursive;
	color: white;
	font-size: 2rem;
}

header .buscar-sala {
	height: 60%;
	width: 25%;
	margin-left: 20rem;
}

header .buscar-sala button {
	position: absolute;
	height: 4vh;
	width: 40px;
	left: 51.5vw;
	top: 2vh;
	border: none;
	background: transparent;
	font-size: 26px;
}

header input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	text-indent: 15px;
}

header input:focus {
	box-shadow: 0px 0px 5.3px rgb(6,197,214);
	outline: none;
}

header input::placeholder {
	font-size: 18px;
	padding-left: 2rem;
}

header .user-section {
	width: auto;
	height: 6vh;
	display: flex;
	position: absolute;
	right: 3.5vw;
}

.user-section #user-foto {
	width: 55px;
	height: 100%;
	background: black;
	border-radius: 50%;
}

.user-section #username {
	height: 100%;
	width: auto;
	margin-left: 10px;
	font-size: 18px;
	padding: 20px 6px;
	color: white;
}

.user-section button {
	font-size: 30px;
	height: 100%;
	width: 50px;
	margin-left: 10px;
	padding: 0px 10px;
	color: white;
	border: none;
	background: transparent;
}

.user-section button:hover {
	background: red;
}

section input {
	height: 45px;
	margin-left: 45px;
}		